/* START CORE STYLES */


/* Hide Upsell Banner */
/* div.upsell-banner { display: none !important; } */
/*.web-navigation__native-upsell { display: none !important; } */

/* Hide Footer */
.dt-footer { display: none !important; }

/* Hide Locale Switcher */
.locale-switcher-banner { display: none !important; }

/* Hide Apple Links */
.web-navigation__native-upsell { display: none !important; }

/* Raise  */
.web

/* END CORE STYLES */
